* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden;   */
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/LuxeFurnish/img/background/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.admin-navbar {
    display: flex;
    position: fixed;
    float: left;
}


/* ADD PRODUCT START */

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.61);
    width: 100%;
    /* height: 100vh; */
    position: relative;
    top: 120px;
    left: 43%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container>h1 {
    text-align: center;
    color: #86AB89;
    /* margin-bottom: 20px; */
}

.form-container>h1:hover {
    color: #2e4b4d;

}

form {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #86AB89;
    /* font-size: 1.3rem; */
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="file"] {
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    color: #ffdd57;
}

textarea {
    resize: vertical;
    background-color: transparent;
    color: #ffdd57;
}


.btn-add-product input {
    padding: 10px;
    background-color: #b46c53;
    color: white;
    border: none;
    border-radius: 0 10px;
    cursor: pointer;
    font-size: 15px;
    width: 237px;
}

.btn-add-product input:hover {
    color: #fff;
    transition: color 3s;
    background-color: #2e4b4d;
    transition: background-color 0.5s;
}

/* ADD PRODUCT END  */

/* PRODUCT SHOW START */

table {
    border-collapse: separate;
    border-radius: 10px;
    width: 81%;
    margin-top: 10px;
    margin-left: 18.5rem;
    border: 1px solid #2e4b4d;
    background-color: #2e4b4d6e;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #494949;
    text-align: center;
    border-radius: 0 10px;
}

td {
    border-radius: 0 10px;
}

#hover-product-name {
    color: #86AB89;
    font-weight: 700;
}

#hover-product-name:hover {
    background-color: #E7FBE6;
    color: #2e4b4d;
    transition: background-color 1s;
    border-radius: 10px;
}

.product-title,
.user-title {
    margin-top: 80px;
    margin-left: 16rem;
    margin-bottom: 2rem;
    font-size: 5rem;
    font-family: Prompt;
    color: #ffdd57;
    text-align: center;
}

.product-title:hover {
    color: #ffb100;
    transition: color 1s;
}

.user-title:hover {
    color: #ffb100;
    transition: color 1s;
}


#product-dlt-btn {
    padding: 5px;
    background-color: #2e4b4d;
    border-radius: 0 10px;
    text-decoration: none;
    color: #ffdd57;
}

#product-dlt-btn:hover {
    color: #E7FBE6;
    transition: color 1s;
}


.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dashboard-container {
    position: relative;
    width: 50%;
    top: 9rem;
    left: 37rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.dashboard-box {
    background: #2e4c4daf;
    color: #86AB89;
    border-radius: 0 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    flex-basis: calc(33.33% - 20px);
}

.dashboard-box:hover {
    background-color: #86AB89;
    color: #2e4b4d;
    transition: all 0.6s;
}

.dashboard-box h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dashboard-box p {
    font-size: 24px;
    font-weight: bold;
}

.admin-sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2e4b4d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.admin-sidenav a {
    padding: 38px 8px 8px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #86AB89;
    display: block;
    transition: 0.3s;
}

#admin-logo {
    margin-top: -2rem;
    font-size: 2rem;
    font-family: Prompt;
}

.admin-sidenav a:hover {
    color: #ffdd57;
}

.admin-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.logout-admin-btn {
    margin-top: 5rem;
}